---
interface Props {
  href?: string;
  text: string;
}

const { href, text } = Astro.props;
---

{
  href ? (
    <a href={href} class="lg:text-2xl text-sm text-[#E8D5B7]">
      {text}
    </a>
  ) : (
    <p class="lg:text-2xl text-sm inline text-[#E8D5B7]">{text}</p>
  )
}
