---
interface Props {
  title?: string;
}

import { SITE_TITLE_DEFAULT } from "../consts";

import Avatar from "../components/Avatar.astro";
import Background from "../components/Background.astro";
import Meta from "../components/Meta.astro";
import Tag from "../components/Tag.astro";

const { title = SITE_TITLE_DEFAULT } = Astro.props;
---

<!doctype html>
<html lang="zh-Hans">
  <head>
    <title>{title}</title>

    <Meta />
  </head>
  <body class="bg-[#1F2935]">
    <main
      class="relative max-h-dvh min-h-dvh overflow-y-scroll p-8 xl:pt-48 lg:pt-32 md:pt-16 w-fit flex flex-col mx-auto"
      style="scrollbar-width: none;"
    >
      <div
        id="intro"
        class="grid md:grid-flow-col grid-flow-row items-center gap-8 md:text-left text-center flex-initial"
      >
        <Avatar />
        <div id="info" class="space-y-6">
          <h1
            id="name"
            class="text-[#F9B248] xl:text-8xl lg:text-7xl md:text-6xl text-4xl"
          >
            too_long_name
          </h1>
          <ul id="tags">
            <li class="inline-block"><Tag text="Furry" /></li>
            <li class="inline-block"><Tag text="Developer" /></li>
            <li class="inline-block"><Tag text="Gamer" /></li>
            <li class="inline-block"><Tag text="🏳️‍🌈" /></li>
            <li class="inline-block">
              <Tag text="And more ……" last topic={false} />
            </li>
          </ul>
        </div>
      </div>

      <div class="width-full border-b-2 my-8"></div>

      <slot />
    </main>

    <Background />
  </body>
</html>
